/* Code by Ida Gundhammar 2021-10-28, student at Mittuniversitetet, HT2020. */

@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";
@import "https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@800&family=Padauk&family=Titillium+Web&display=swap";


* {
    box-sizing: border-box
}

/* Background image */
html {
    scroll-behavior: smooth;
    background: url("images/image2.jpg");
    background-size: cover;
    background-attachment: fixed;

}

body {
    font: 100% Helvetica, san-serif;
    color: #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2em;
    font-family: "Titillium Web", san-serif;
    font-weight: bold
}

.content {
    background: rgba(255, 255, 255, 0.82);
    margin: 2em auto;
    width: 40%;
    max-width: 960px;
    text-align: center;
    height: 25em;
}
/* Log in form */
form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    padding: 2em;
    gap: 0.5em;
}

form input {
    padding: .7em;
    border: none;
    border-bottom: 1px solid #000
}

form input:focus {
    outline: none;
}

/* Submit button */
form input[type=submit] {
    background: rgb(105,154,153);
    background: linear-gradient(248deg, rgba(105,154,153,1) 0%, rgba(86,153,136,1) 58%);
    border: none;
    border-radius: 20px;
    padding: .8em;
    font-weight: bold;
    cursor: pointer;
}

/* Media querys */
@media screen and (max-width: 600px) {

    .content {
        width: 95%;
    }

    form {
        width: 95%;
        padding: .5em;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        width: 95%;
    }

    form {
        width: 80%;
        padding: 1em;
    }
}